REQRES_API_KEY=your_reqres_api_key_here
REQRES_BASE_URL=https://reqres.in
VWO_BASE_URL=https://app.vwo.com
VALID_LOGIN_EMAIL=your_valid_login_email_here
VALID_LOGIN_PASSWORD=your_valid_login_password_here
